-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('superadmin', 'guest', 'clerk', 'supervisor', 'accountant', 'cutter', 'delivery');

-- CreateEnum
CREATE TYPE "JobStatus" AS ENUM ('pending', 'cutting', 'weighing', 'ready', 'shipped', 'completed');

-- CreateEnum
CREATE TYPE "ShapeSteel" AS ENUM ('square', 'line');

-- CreateEnum
CREATE TYPE "StockStatus" AS ENUM ('available', 'withdrawn');

-- CreateTable
CREATE TABLE "User" (
    "id" SERIAL NOT NULL,
    "name" TEXT,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "image" TEXT,
    "role" "Role" NOT NULL DEFAULT 'guest',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Staff" (
    "id" SERIAL NOT NULL,
    "userId" INTEGER,
    "position" TEXT NOT NULL DEFAULT 'เธเธเธฑเธเธเธฒเธเธ—เธฑเนเธงเนเธ',
    "bankAccount" TEXT NOT NULL,
    "bankName" TEXT NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "code" TEXT NOT NULL,
    "social_security" TEXT NOT NULL,
    "currentSalary" DOUBLE PRECISION NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Staff_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Customer" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "address" TEXT NOT NULL,
    "tel" TEXT NOT NULL,
    "taxNumber" TEXT NOT NULL,
    "faxNumber" TEXT NOT NULL,
    "email" TEXT NOT NULL,

    CONSTRAINT "Customer_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Bill" (
    "id" SERIAL NOT NULL,
    "customerId" INTEGER,
    "yourRef" TEXT NOT NULL,
    "invoiceNo" SERIAL NOT NULL,
    "codeCustomer" TEXT,
    "credit" TIMESTAMP(3),
    "deliveryDate" TIMESTAMP(3) NOT NULL,
    "deliveryOrderNo" TEXT,
    "salesName" TEXT,
    "deliveredBy" TEXT,
    "description" TEXT,
    "vatRate" DOUBLE PRECISION NOT NULL DEFAULT 7.0,
    "subtotal" DOUBLE PRECISION,
    "grandTotal" DOUBLE PRECISION,
    "discount" DOUBLE PRECISION,
    "vat" DOUBLE PRECISION NOT NULL,
    "dateReceive" TIMESTAMP(3),
    "salesNameId" INTEGER,
    "deliveredById" INTEGER,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Bill_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OrderPO" (
    "id" SERIAL NOT NULL,
    "poNumber" TEXT NOT NULL,
    "customerId" INTEGER,
    "billId" INTEGER,
    "status" "JobStatus" NOT NULL DEFAULT 'pending',
    "total" DOUBLE PRECISION NOT NULL,
    "completedAt" TIMESTAMP(3),
    "urlPo" TEXT[],
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "OrderPO_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Product" (
    "id" SERIAL NOT NULL,
    "orderPOId" INTEGER NOT NULL,
    "steelId" INTEGER NOT NULL,
    "wide" DOUBLE PRECISION,
    "length" DOUBLE PRECISION,
    "thickness" DOUBLE PRECISION,
    "amount" INTEGER NOT NULL,
    "detail" TEXT,
    "calculatedWeight" DOUBLE PRECISION,
    "actualWeight" DOUBLE PRECISION,
    "actualWide" DOUBLE PRECISION,
    "actualLength" DOUBLE PRECISION,
    "actualThickness" DOUBLE PRECISION,
    "total" DOUBLE PRECISION NOT NULL,

    CONSTRAINT "Product_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StaffSalary" (
    "id" SERIAL NOT NULL,
    "staffId" INTEGER NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "effectiveDate" TIMESTAMP(3) NOT NULL,
    "detail" TEXT,
    "createdBy" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "StaffSalary_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StaffIncome" (
    "id" SERIAL NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "nameIncome" TEXT NOT NULL,
    "detail" TEXT NOT NULL DEFAULT '-',
    "staffId" INTEGER NOT NULL,
    "date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "typeId" INTEGER,

    CONSTRAINT "StaffIncome_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TypeStaffIncome" (
    "id" SERIAL NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "name" TEXT NOT NULL,
    "types" TEXT NOT NULL,

    CONSTRAINT "TypeStaffIncome_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SteelType" (
    "id" SERIAL NOT NULL,
    "codeSteel" TEXT NOT NULL,
    "detail" TEXT,
    "amount" INTEGER NOT NULL DEFAULT 0,
    "shape" "ShapeSteel" NOT NULL,
    "price" DOUBLE PRECISION NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "density" DOUBLE PRECISION NOT NULL,

    CONSTRAINT "SteelType_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SteelStock" (
    "id" SERIAL NOT NULL,
    "width" DOUBLE PRECISION,
    "length" DOUBLE PRECISION NOT NULL,
    "thickness" DOUBLE PRECISION NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "steeltypeId" INTEGER NOT NULL,
    "withdrawnAt" TIMESTAMP(3),
    "status" "StockStatus" NOT NULL DEFAULT 'available',

    CONSTRAINT "SteelStock_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Expense" (
    "id" SERIAL NOT NULL,
    "description" TEXT NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "expenseDate" TIMESTAMP(3) NOT NULL,
    "categoryId" INTEGER NOT NULL,
    "receiptUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Expense_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExpenseCategory" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "staffId" INTEGER NOT NULL,

    CONSTRAINT "ExpenseCategory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "_OrderPOToStaff" (
    "A" INTEGER NOT NULL,
    "B" INTEGER NOT NULL,

    CONSTRAINT "_OrderPOToStaff_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Staff_userId_key" ON "Staff"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "Staff_bankAccount_key" ON "Staff"("bankAccount");

-- CreateIndex
CREATE UNIQUE INDEX "Staff_code_key" ON "Staff"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Staff_social_security_key" ON "Staff"("social_security");

-- CreateIndex
CREATE UNIQUE INDEX "Customer_code_key" ON "Customer"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Customer_tel_key" ON "Customer"("tel");

-- CreateIndex
CREATE UNIQUE INDEX "Customer_taxNumber_key" ON "Customer"("taxNumber");

-- CreateIndex
CREATE UNIQUE INDEX "Customer_faxNumber_key" ON "Customer"("faxNumber");

-- CreateIndex
CREATE UNIQUE INDEX "Customer_email_key" ON "Customer"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Bill_invoiceNo_key" ON "Bill"("invoiceNo");

-- CreateIndex
CREATE UNIQUE INDEX "Bill_codeCustomer_key" ON "Bill"("codeCustomer");

-- CreateIndex
CREATE INDEX "Bill_customerId_idx" ON "Bill"("customerId");

-- CreateIndex
CREATE INDEX "Bill_salesNameId_idx" ON "Bill"("salesNameId");

-- CreateIndex
CREATE INDEX "Bill_deliveredById_idx" ON "Bill"("deliveredById");

-- CreateIndex
CREATE UNIQUE INDEX "OrderPO_poNumber_key" ON "OrderPO"("poNumber");

-- CreateIndex
CREATE INDEX "OrderPO_status_idx" ON "OrderPO"("status");

-- CreateIndex
CREATE INDEX "OrderPO_createdAt_idx" ON "OrderPO"("createdAt");

-- CreateIndex
CREATE INDEX "OrderPO_customerId_status_idx" ON "OrderPO"("customerId", "status");

-- CreateIndex
CREATE INDEX "OrderPO_billId_idx" ON "OrderPO"("billId");

-- CreateIndex
CREATE INDEX "OrderPO_customerId_idx" ON "OrderPO"("customerId");

-- CreateIndex
CREATE INDEX "Product_orderPOId_idx" ON "Product"("orderPOId");

-- CreateIndex
CREATE INDEX "Product_steelId_idx" ON "Product"("steelId");

-- CreateIndex
CREATE INDEX "StaffSalary_staffId_effectiveDate_idx" ON "StaffSalary"("staffId", "effectiveDate" DESC);

-- CreateIndex
CREATE UNIQUE INDEX "StaffSalary_staffId_effectiveDate_key" ON "StaffSalary"("staffId", "effectiveDate");

-- CreateIndex
CREATE INDEX "StaffIncome_staffId_idx" ON "StaffIncome"("staffId");

-- CreateIndex
CREATE INDEX "StaffIncome_typeId_idx" ON "StaffIncome"("typeId");

-- CreateIndex
CREATE UNIQUE INDEX "SteelType_codeSteel_key" ON "SteelType"("codeSteel");

-- CreateIndex
CREATE INDEX "SteelStock_steeltypeId_status_idx" ON "SteelStock"("steeltypeId", "status");

-- CreateIndex
CREATE UNIQUE INDEX "ExpenseCategory_name_key" ON "ExpenseCategory"("name");

-- CreateIndex
CREATE INDEX "_OrderPOToStaff_B_index" ON "_OrderPOToStaff"("B");

-- AddForeignKey
ALTER TABLE "Staff" ADD CONSTRAINT "Staff_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Bill" ADD CONSTRAINT "Bill_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "Customer"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Bill" ADD CONSTRAINT "Bill_deliveredById_fkey" FOREIGN KEY ("deliveredById") REFERENCES "Staff"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Bill" ADD CONSTRAINT "Bill_salesNameId_fkey" FOREIGN KEY ("salesNameId") REFERENCES "Staff"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderPO" ADD CONSTRAINT "OrderPO_billId_fkey" FOREIGN KEY ("billId") REFERENCES "Bill"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderPO" ADD CONSTRAINT "OrderPO_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "Customer"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Product" ADD CONSTRAINT "Product_orderPOId_fkey" FOREIGN KEY ("orderPOId") REFERENCES "OrderPO"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Product" ADD CONSTRAINT "Product_steelId_fkey" FOREIGN KEY ("steelId") REFERENCES "SteelType"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StaffSalary" ADD CONSTRAINT "StaffSalary_staffId_fkey" FOREIGN KEY ("staffId") REFERENCES "Staff"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StaffIncome" ADD CONSTRAINT "StaffIncome_staffId_fkey" FOREIGN KEY ("staffId") REFERENCES "Staff"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StaffIncome" ADD CONSTRAINT "StaffIncome_typeId_fkey" FOREIGN KEY ("typeId") REFERENCES "TypeStaffIncome"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SteelStock" ADD CONSTRAINT "SteelStock_steeltypeId_fkey" FOREIGN KEY ("steeltypeId") REFERENCES "SteelType"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Expense" ADD CONSTRAINT "Expense_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES "ExpenseCategory"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExpenseCategory" ADD CONSTRAINT "ExpenseCategory_staffId_fkey" FOREIGN KEY ("staffId") REFERENCES "Staff"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_OrderPOToStaff" ADD CONSTRAINT "_OrderPOToStaff_A_fkey" FOREIGN KEY ("A") REFERENCES "OrderPO"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_OrderPOToStaff" ADD CONSTRAINT "_OrderPOToStaff_B_fkey" FOREIGN KEY ("B") REFERENCES "Staff"("id") ON DELETE CASCADE ON UPDATE CASCADE;

